{{ 'popup_offer.css' | asset_url | stylesheet_tag }}
{{ 'popup_offer__fonts.css' | asset_url | stylesheet_tag }}

<article
  class="popup-offer"
  data-delay="{{ section.settings.delay_show }}"
  data-once="{{ section.settings.show_once }}"
>
  {% if section.settings.show_hide == true %}
    <span class="icon-close-wrapper">{% render 'icon-close' %}</span>
    {{ section.settings.sidebar_image | image_url: width: 300 | image_tag }}
    <div>
      <p class="popup-offer__title">{{ section.settings.heading }}</p>
      <p class="popup-offer__sub-title">{{ section.settings.sub_heading }}</p>
      <ul>
        {%- for block in section.blocks -%}
          <li
            class="popup-offer__product"
            data-id="{{ block.settings.product_handle.first_available_variant.id }}"
          >
            {{ block.settings.product_handle | image_url: width: 100 | image_tag }}
            <div>
              {% assign current_variant = block.settings.product_handle.selected_or_first_available_variant %}
              <p>SKU: {{ current_variant.sku }}</p>
              <p>{{ block.settings.product_handle.title }}</p>
              <p>{{ block.settings.product_handle.description }}</p>
              <p>
                <span>{{ block.settings.product_handle.price | money }}</span>
                <span>{{ block.settings.product_handle.compare_at_price | money }}</span>
              </p>
            </div>
          </li>
        {%- endfor -%}
        <button type="button">Add all to cart {% render 'icon-cart-shopping' %}</button>
      </ul>
    </div>
  {% endif %}
</article>

<script>
  let popupOffer_wrapper = document.querySelector('.popup-offer-wrapper');
  let popupOffer = document.querySelector('.popup-offer');
  let popupOffer_iconClose = document.querySelector('.icon-close-wrapper');
  let popupOffer_arrayId = popupOffer.querySelectorAll('.popup-offer__product');
  let popupOffer_byButton = popupOffer.querySelector('button');
  let popupOffer_productID = {
    items: [],
  };

  if (popupOffer_wrapper && popupOffer && popupOffer_arrayId && popupOffer_byButton && popupOffer_iconClose) {
    const displayPopupOffer = () => {
      setTimeout(() => {
        popupOffer_wrapper.classList.remove('is-hide-popup');
      }, document.querySelector('.popup-offer').dataset.delay * 1000);

      popupOffer_wrapper.addEventListener('click', (event) => {
        if (event.target.classList.contains('popup-offer-wrapper')) {
          popupOffer_wrapper.classList.add('is-hide-popup');
        }
      });

      popupOffer_iconClose.addEventListener('click', (event) => {
        popupOffer_wrapper.classList.add('is-hide-popup');
      });

      popupOffer_arrayId.forEach((item) => {
        let myObject = { id: item.dataset.id, quantity: 1 };
        popupOffer_productID.items.push(myObject);
      });

      popupOffer_byButton.addEventListener('click', () => {
        popupOffer_wrapper.classList.add('is-hide-popup');
        fetch(window.Shopify.routes.root + 'cart/add.js', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(popupOffer_productID),
        })
          .then((response) => {
            return response.json();
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      });
    };

    if (popupOffer.dataset.once == 'true') {
      if (localStorage.getItem('secondVisit') !== 'true') {
        displayPopupOffer();
        localStorage.setItem('secondVisit', 'true');
      }
    } else {
      displayPopupOffer();
      localStorage.setItem('secondVisit', 'false');
    }
  }
</script>

{% schema %}
{
  "name": "Popup offer",
  "class": "popup-offer-wrapper is-hide-popup",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_hide",
      "label": "Show popup_offer",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "sidebar_image",
      "label": "Main image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Get the look"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub heading",
      "default": "For Business or Ceremony"
    },
    {
      "type": "number",
      "id": "delay_show",
      "label": "Delay in seconds",
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_once",
      "label": "Show only once per customer",
      "default": false
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "name": "Products",
      "type": "products",
      "settings": [
        {
          "type": "product",
          "id": "product_handle",
          "label": "Product handle"
        }
      ]
    }
  ]
}
{% endschema %}
